
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap');

body{
       font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
       font-family: 'Raleway', sans-serif;

}

.header {
    background: linear-gradient(101.47deg, rgba(11, 63, 108, 0.2) 33.1%, rgba(11, 87, 108, 0) 88.91%);
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #5B86B9;

}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
       font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5a85b8;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    width:105px;
    height:95px;
}

.header .fab {
    background-color: black;
    color: white;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.header .fab:hover{
    color:#e4e5fb;
    background-color:#5a85b8;
}
/* ---------hero-section------------ */
.hero-section {
    background-image: url('./images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.hero-content h2 {
    font-weight: 700;
    font-size:45px;
       font-family: 'Raleway', sans-serif;
}

.hero-content p {
    color:#131313;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    margin: 30px 0px;
       font-family: 'Raleway', sans-serif;

}

.hero-btn {
    color: white;
    background: #626262;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 149px;
    height: 44px;
    /* margin-left: 65px; */
    margin-top: 15px;
    border: 0.5px  solid #5a85b8;
}

.hero-btn:hover {
    color: black;
   
}

/* ----------info-section----------- */
.info-cover {
    background: #FFFFFF;
    box-shadow: 8px 12px 21px rgba(0, 0, 0, 0.1);
    margin-top: -70px;
    padding: 120px 110px;
}

.info-content i {
    color: #5a85b8;
    margin-top: 5%;
}

.info-content h6 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 86.5%;
    margin-top: 5%; 
    margin-bottom: 10%;
       font-family: 'Raleway', sans-serif;
}

.info-content p {
    font-size: 15px;
       font-family: 'Raleway', sans-serif;
}

/* <!-- ----------payment-section----------- --> */
.payment-section {
    padding-top: 90px;
    padding-bottom: 120px;
}


.payment-title h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 73px;
    color:#5a85b8;
       font-family: 'Raleway', sans-serif;
}

.payment-title p {
    color: black;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-top: 37px;
    margin-bottom: 170px;
       font-family: 'Raleway', sans-serif;
}

.payment-top-content {
    border: 1.5px solid #6C0B1C;
    text-align: center;
    padding: 0px 30px;
}

.payment-top-content h5 {
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    margin-top: 5%;
    margin-bottom: 8%;
       font-family: 'Raleway', sans-serif;
}

.payment-top-content p {
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: justify;
       font-family: 'Raleway', sans-serif;
}

.payment-img {
    width: 116px;
    height: 116px;
    background-color:#5a85b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    margin-top: -70px;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.1);

}

.payment-img img {
    width: 80px;
    height: 84px;
}

.payment-btn {
    color: white;
    background: #626262;
    width: 100%;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 8px 12px 21px rgba(0, 0, 0, 0.1);
       font-family: 'Raleway', sans-serif;

}
.benefit-top p{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
       font-family: 'Raleway', sans-serif;
}
.payment-bottom {
    margin-top: 15%;
}

.quick-img img {
    width: 40px;
}

.payment-bottom-content h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
       font-family: 'Raleway', sans-serif;
}

.payment-bottom-content p {
    font-size: 15px;
       font-family: 'Raleway', sans-serif;
}

.payment-bottom-content li {
    margin-left: 15%;
}

/* -----money-transfer--------- */
.transfer-money-section {
    background-image: url('./images/computer-man.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
    position: relative;
    z-index: 5;
}

.transfer-money-section::before {
    content: '';
    display: block;
    background: linear-gradient(101.47deg, rgba(11, 63, 108, 0.2) 33.1%, rgba(11, 87, 108, 0) 88.91%);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.transfer-money-section h6 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
       font-family: 'Raleway', sans-serif;

}

.transfer-money-section p {
    margin: 2% 0;
    color:black;
    font-size: 16px;
       font-family: 'Raleway', sans-serif;
}

/* ---------------carusel---------- */
.carusel{
    background-image: url('./img/white-brush-stroke-texture-background\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 15%;
}
.carusel_section {
  position: relative;
}

.shape-two{
   position: absolute;
   bottom:-40%;
   right: 0;
}

.carusel-item {
    background: #FFFFFF;
    border: 1px solid #E8E7E8;
    border-radius: 12px;
    padding: 15px 40px;
    height: 330px;
}

.carusel-item h6 {
    font-size: 18px;
    line-height: 27px;
    color: #3B3A40;
    text-align: center;
    padding: 0;
    margin: 0;
}
.carusel-item h5{
    font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: center;
letter-spacing: 0.4px;
color: #000000;
}
.carusel-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #8E8C95;
    padding: 0;
    margin: 0;
}

.oval {
    width: 76px !important;
    height: 76px !important;
    margin: auto;
    z-index: 999;
}

.qutation {
    width: 25px !important;
    height: 20px !important;
    
}

.owl-carousel .owl-nav button.owl-prev>span {
    position: absolute;
    top: calc(75% - 30px);
    left: 18px;
    font-size: 0px;
    width: 10%;
    height: 100%;
    background-image: url('./img/ic_Cevron\ Left.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.owl-carousel .owl-nav button.owl-next>span {
    position: absolute;
    top: calc(75% - 30px);
    right: -5%;
    font-size: 0px !important;
    z-index: 1;
    width: 10%;
    height: 100%;
    background-image: url('./img/ic_Cevron\ Right.png');
    background-repeat: no-repeat;
}
.owl-theme .owl-dots {
 display: none;}
/* ----------footer------------ */
.footer {
    background-color: rgba(91, 134, 185, 0.1);
    padding: 70px 0;
}

.footer-content h6 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
}

.footer-content a {
    color: black;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    padding: 6px 0;
}
.footer-content a:hover {
    color: #5a85b8;
    
}

.footer-bottom-content {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.footer-condition {
    background: #5a85b8;
    padding: 15px 0;
}

.footer-condition p {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1400px) {
    .payment-row {
        padding: 0px 10%;
    }
}
@media screen and (max-width:1400px) {
    .shape-two {
        bottom: -30% !important;
      }
      .owl-carousel .owl-nav button.owl-next > span {
        right: -3%;
        width: 10%;
        height: 100%;

      }
}

@media screen and (max-width:991px) {
    .hero-content h2 {
        font-size: 50px;
    }

    .hero-content p {
        font-size: 25px;
    }

    .info-content h6 {
        font-size: 18px;
    }

    .payment-title p {
        font-size: 17px;
    }

    .p-one {
        margin-bottom: 18%;
    }

    .payment-bottom {
        margin-top: 25%;
    }
    .owl-carousel .owl-nav button.owl-next > span {
        right: -0.5%;     

      }
      .carusel-item h5 {
        font-size: 18px;
        line-height: 24px;}
     
      
}

@media screen and (max-width:767px) {
    .hero-content h2 {
        font-size: 38px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .payment-title p {
        font-size: 13px;
    }

    .p-two {
        margin-top: 20%;
        margin-bottom: 28%;
    }
    .owl-carousel .owl-nav button.owl-next > span {
        right: 2.5%;     

      }
      .carusel {
        padding-bottom: 33% !important;
      }
    
}

@media screen and (max-width:480px) {
    .hero-content h2 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 18px;
    }

    .info-content h6 {
        font-size: 16px;

    }

    .payment-title h2 {
        font-size: 40px !important;

    }

    .payment-title p {
        font-size: 10px;
    }
    .owl-carousel .owl-nav button.owl-prev > span {

        top: calc(75% - 30px);
        left: 25px;
     

     
      }
    .owl-carousel .owl-nav button.owl-next > span {
        right: 6% ;    
  
      }
      .p-two {
        margin-bottom:33%;
      }
   
}

@media screen and (max-width:536px) {
    .payment-title h2 {
        font-size: 50px;

    }

    .payment-title p {
        font-size: 12px;
    }
    .carusel {
        padding-bottom: 42% !important;
      }
}
@media screen and (max-width:406px) {
    .owl-carousel .owl-nav button.owl-prev > span {
        top: calc(75% - 30px);
        left: 25px;
      }
    .owl-carousel .owl-nav button.owl-next > span {
        right: 10% ;    

    
      }
}
@media screen and (max-width:1100px) {
    .carusel {
        padding-bottom: 20%;
      }
}

/* contact start  */

.breadcame-section {
    background-image: url('./images/three_banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 60px;
    text-align: center;
}

.breadcame-section h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color:black;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.breadcame-section p a {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: white;
}

.contact-info {
    background: #F5F4F4;
    padding: 80px 0;
}

.info-card {
    background:#f4f3f4;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.info-card h5 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 15px 0;
}

.info-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0;
    margin: 0;
}

.contact-img {
    background: #5a85b8;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}

.contact-img img {
    width: 35px;
    margin: auto;
    display: block;

}
.contact-form{
    padding: 50px 0;
}
.contact-input {
    position: relative;
    display: inline-block;
    width: 48%;
    margin-bottom: 4%;
}

.contact-input input {
    padding: 15px 20px 15px 0px;
    border-bottom: 1px solid black;
    color: #595959;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.contact-input input:focus {
    outline: none !important;
    border-color: black;
    border-bottom: 1px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.contact-input label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.contact-input textarea {
    padding: 15px 20px 15px 0px;
    border-top: 2px solid #eeeeee;
    color: #595959;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.contact-form h2{
    color: #000000;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
}
.contact-btn{
    background:#5a85b8;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 18px 40px;
    margin: auto;

}
.contact-btn:hover{
    color: white;
}
@media screen and (max-width:1200px){
    .contact-input {
        width: 47%;
      }
}
@media screen and (max-width:767px){
    .contact-input {
        width: 100%;
      }
  
}

/* about section */
.about-section {
    background-image: url('./images/about_bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    padding: 60px 0;
}
.breadcame-section p a{
    margin-bottom: 0;
    font-weight:600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #000000;
}
.about-content p{
    text-align: justify;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (min-width:1200px){
    .about-content-one {
        padding-right: 180px;
    }   
}
@media screen and (min-width:1200px){
    .about-content-two {
        padding-left: 100px;
    }   
}
@media screen and (max-width:991px) {
    .about-content p {
        font-size: 13px;
        line-height: 22px;
      }
}
@media screen and (max-width:767px) {
    .about-content p {
        font-size: 15px;
        line-height: 22px;
      }
}
@media screen and (max-width:480px) {
    .about-content p {
        font-size: 13px;
        line-height: 22px;
      }
}

/* service page */
.service-section{
    background-image: url('./images/service_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}

.service-content p{
    text-align: justify;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.service-content h2{
    font-weight: 700;
    font-size: 39px;
    line-height: 48px;
    color: #010101;
    text-align: center;
    margin-bottom: 25px;
}
@media screen and (min-width:1200px){
    .service-content-one {
        padding-right: 170px;
    }   
}
@media screen and (min-width:1200px){
    .service-content-two {
        padding-left: 90px;
    }   
}
@media screen and (max-width:991px) {
    .service-content p {
        font-size: 13px;
        line-height: 22px;
      }
}
@media screen and (max-width:767px) {
    .service-content p {
        font-size: 15px;
        line-height: 22px;
      }
}
@media screen and (max-width:480px) {
    .service-content p {
        font-size: 13px;
        line-height: 22px;
      }
}

/* benefits section */

.benefit-section{
    background: linear-gradient(#5B86B9, 10%, #626262,0%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 50px 0;
}

.benefit-content p{
    text-align: justify;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.benefit-content h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #010101;
    text-align: center;
    margin-bottom: 25px;
}
@media screen and (min-width:1200px){
    .benefit-content-one {
        padding-right: 170px;
    }   
}
@media screen and (min-width:1200px){
    .benefit-content-two {
        padding-left: 90px;
    }   
}
/* loader style */

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #f1f2f3 url('./images/loading.gif') no-repeat center;
	z-index: 999;
}

.login-btn{
    position: absolute;
    background:#626262;
    border-radius: 10px;
}
.login-btn:hover{
    color:white;
    background: #5a85b8;
}
/* scroll back top  */
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 995;
    background: #626262;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: white;
    line-height: 0;
  }
  
  .scroll-top:hover {
    background:#e4e5fb;
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  .btn:hover {
    color: #5B86B9;
  }